html{
    height:100%;
}
body {
    height: 100%;
    background-color: #F4F6F6;
}

#root{
    height: 100%;
}

button {
    border-radius: 20px !important;
}

.main-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/login_bg.png");
    background-position: bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.login-box {
    width: 900px;
    background: #F8FAFB;
    border-radius: 15px;
    margin: auto;
    padding: 51px 60px;
    box-shadow: 0 0 20px 0 #8888884f;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
